{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/Volleyballutility/css/homepage.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/Volleyballutility/css/auth.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/Volleyballutility/css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/bundles/volleyballresource/js/form.js') }}" type="text/javascript" ></script>
{% endblock %}

{% block content %}
    <div class="box main-content">
        <div class="box-content datagrid">
            <div>
                <div class="content_box" id="contact_form">
                    <h2>Contact Volleyball</h2>
                    <br />
                    {% include "VolleyballResourceBundle:Form:contact.form.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}