{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/volleyballresource/css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/volleyballresource/css/carousel.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/volleyballresource/css/homepage.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/volleyballresource/css/auth.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% block signin %}
        <div class="col-md-4" id="left-pane">
            <div class="content_box">
                <div class="login_form homepage" id="login-form">
                <h2>{{ 'sign in' | title }}</h2>
                <br />
                {% include 'VolleyballResourceBundle:Form:login.form.html.twig' %}
                </div>
            </div>
        </div>
        {% endblock %}
        {% block carousel %}
        <div class="col-md-8" id="right-pane">
            {% include 'VolleyballResourceBundle:Carousel:carousel.html.twig' with { 'items': carousel.items } %}
        </div>
        {% endblock %}
    </div>
    <div class="row feature-row center-block">
        {% block home_cols %}
        <!-- Multi-FacilityInterface //-->
        <div class="col-md-4">
            <p>
                <i class="fa fa-th fa-5x"></i>
            </p>
            <h2 class="font-thin">
                Multi-Facility
                <span class="font-semibold">Interface</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>

        <!-- Print Reports //-->
        <div class="col-md-4">
            <p>
                <i class="fa fa-print fa-5x"></i>
            </p>
            <h2 class="font-thin">
                Print
                <span class="font-semibold">Reports</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>

        <!-- User Portals //-->
        <div class="col-md-4">
            <p>
                <i class="fa fa-desktop fa-5x"></i>
            </p>
            <h2 class="font-thin">
                User
                <span class="font-semibold">Portals</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block breadcrumbs %} {% endblock %}